/* --- CONFIGURAÇÕES PARA PC / NOTEBOOK (Padrão) --- */

/* Reseta margens padrão da página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body{
  background-color: #F3EFF8;
  max-width: 900px;
  margin: 0 auto;        /* Centraliza a página no monitor */
  padding: 20px;
}

/* --- CABEÇALHO --- */
/* --- Atualização do Cabeçalho --- */
.meu-cabecalho{
  background-color: #4B2189;
  padding: 12px 20px;
  border-radius: 37px; /*cantos arredondados*/
  margin-bottom: 24px; /* Espaço entre o cabeçalho e o conteúdo abaixo */
  display: flex;
  align-items: center; /* Alinha verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  gap: 15px /* Cria um espaço entre a imagem e o texto */
}

/* --- Novo estilo pra garantir que a imagem não fique gigante --- */

.logo-cabecalho {
  width: 40px !important; /* tamanho da imagem */
  height: 40px !important;
  max-width: 40px;
  max-height: 40px;
  object-fit: contain;
  border-radius: 50%;
}

.meu-cabecalho h1 {
  color: #F3EFF8; /* Mesma cor do background do body */
  font-size: 1.5rem;
  font-weight: 600;
}

/* --- TIPOGRAFIA --- */

h2 {
  color: #4B2189;
}

h3 {
  color: #4B2189;
}

h4 {
  color: #4B2189;
}

/* --- APRESENTAÇÃO --- */

.container-apresentacao{
    display: flex;
  align-items: flex-start;
  gap: 24px;
}

.foto-criadora {
  width: 240px;
  height: auto;
  border-radius: 15px;
  flex-shrink: 0;
}

.texto-apresentacao {
  display: flex;
flex-direction: column;
gap: 12px;
}

/* --- CONFIGURAÇÕES PARA CELULAR (Telas de até 768px) --- */

@media (max-width:768px) {
.container-apresentacao {
  flex-direction: column; /* Empilha a imagem e o texto */
  align-items: center; /* Evita que a foto fique gigante */
  height: 260px;
}

.foto-criadora {
    width: 100%;            /* Adapta à largura da tela */
    max-width: 260px;       /* Limite de largura para não ficar gigante */
    height: auto;           /* Mantém a foto sem cortes no celular */
  }

.texto-apresentacao {
  text-align: left; /* Mantém a leitura confortável */
}
}